
* {
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 13 px;
    margin: 0;
  }
  p{
    margin-bottom: 0;
  }
body, .container{
  background-color: #EEEEEE;
}
#nav {
    height: 50px;
    display: inline;
    width:100%;
}
#nav,#logo-nav, #search-bar, #login, .nav-item{
    background-color: #FFFFFF;
}
main{
    padding-top: 55px;
}
#Youtube-logo {
    height: 45px;
}
.navbar-brand{
    margin-right: 0;
}

#search-logo {
    height: 20px;
    width:  20px;
}

#upload-icon {
    height: 24px;
    width: 24px;
}

#youtube-apps {
    height: 24px;
    width: 24px;
}

#notification {
   height: 24px;
   width: 24px;
}

#profile-picture {
    height: 32px;
    width:  32px;
    border-radius: 100px;
}
.nav-item{
  min-height: 32px;
  min-width:  32px;
  max-height: 38px;
  max-width:  38px;
  padding:0;
  margin:auto;
}
#video{
  padding: 0;
  margin-bottom: 10px;

}

#video-title{
  display:block;
}
#img-container{
  margin-right: 20px;
}
#author-name{
  font-size: 13px
}
#video-info{
  margin-bottom: 0;
}

#subscribers{
  border: 0.5px solid gray;
  padding: 0.25px;
  font-size: 11px;
}

#view-ammount{
  color: gray;
  font-size: 14px;
  position: absolute;
  bottom: -10px;
  right: 10px;
  overflow: clip;
  /*align-self: flex-end;*/
}
.right-align{
  margin-left: 52%;

}


#interaction {
  border-top: 1px solid gray;
  margin-top: 0;
  border-top-right-radius: 4px 4px;
  border-top-left-radius: 4px 4px;
}

/*#description{
  background-color: #FFFFFF;
}*/
#show-more{
  border-image: initial;
  width: 100%;
  margin: 10px 0px -15px;
  padding: 0px 10px;
  color:#767676;
  border-top-right-radius: 2px 2px;
  border-top-left-radius: 2px 2px;
  border-color: rgb(226, 226, 226) ;
  border-top: 1px;
  border-width: 1px;
  border-style: solid none none;
}

.mr{
  margin-right: 10px;
}


section, article, aside {
  margin: 10px 5px;
  /*background-color: red;*/
  padding: 10px;
}

iframe {
  height: 315px;
  width: 560px;
  display: inline-flexbox;
}


.rec-element{
  width: 100%;
  font-size: 11px;
  padding-bottom: 10px;
  cursor: pointer;
}

.rec-author, .rec-views {
  color: gray;
  font-size: 10px;
}

.rec-duration{
  position: absolute;
  bottom: 2px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.500);
  padding: 1px;
  color: white;
  z-index: 10;
  border-color: white;
}

.thumbnail {
  height: 94px;
  width: 168px;
}

.btn {
  font-size: 10px;
  padding: 3px 8px;
}


.img-elements{
  height:100%;
  padding-top: 0;
  padding-bottom: 0;
}
